:root {
    --cell-size: 40px;
    --grid-size: 15;
}

#grid {
    width: calc(var(--cell-size) * var(--grid-size) + 4px);
    height: calc(var(--cell-size) * var(--grid-size) + 4px);
    border: white solid 2px;

    display: flex;
    flex-wrap: wrap;
}

#grid > div {
    width: var(--cell-size);
    height: var(--cell-size);

    font-size: 8px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.alien {
    background-image: url('./images/alien.png');
}

.spaceship {
    background-image: url('./images/spaceship.png');
}

.laser {
    background-image: url('./images/laser.png');
}

.boom {
    background-image: url('./images/boom.png');
}